body {
	text-align: center;
	font-family: Roboto;
	font-size: 22px;
	background: #222222;
	color: #ffffff;
	animation-name: fadeIn;
	animation-duration: 3s;
}
a:link {
  color: #d88fff;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #d88fff;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #d88fff;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: #d88fff;
  background-color: transparent;
  text-decoration: underline;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

#border {
	border-radius: 50px;
	background: #ffffff;
	padding: 25px;
	width: 450px;
	height: 450px;
	color:#000000;
	text-align:center;
	font-family: Roboto;
	font-size: 22px;
	margin: auto;
	text-decoration: none;
	margin-bottom: 30px;
}